version: '2.1'

only_tags: &only_tags
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /.*/

orbs:
  github-cli: circleci/github-cli@2.7.2
  docker: circleci/docker@3.0.1
  codecov: codecov/codecov@5.4.3
  go: circleci/go@3.0.3
  github-utils: trustedshops-public/github-utils@1.1.3
  semantic-release: trustedshops-public/semantic-release@6.1.0

executors:
  go:
    docker:
      - image: cimg/go:1.26-node

jobs:
  unit-test:
    executor: go
    steps:
      - checkout
      - go/with-cache:
          steps:
            - run:
                name: Run tests
                command: |
                  go test -coverprofile=coverage.txt -covermode=atomic   -v ./...
                  make save-coverage-report
      - codecov/upload
      - store_artifacts:
          path: coverage.html
  build:
    executor: go
    steps:
      - checkout
      - go/with-cache:
          steps:
            - run:
                name: Build binaries
                command: |
                  make build -j4
                  make create-checksums
            - persist_to_workspace:
                root: ./
                paths:
                  - dist/
  attach-binaries-to-release:
    executor: go
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - github-cli/install:
          version: "2.21.2"
      - run:
          name: Attach binaries to release
          command: |
            gh release upload ${CIRCLE_TAG} dist/*
  publish-docker-image:
    executor: docker/docker
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - setup_remote_docker:
          version: default
      - run:
          name: Build and publish image
          command: |
            echo "$DOCKER_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker buildx create --use
            make build-docker
      - docker/update_description:
          image: timoreymann/mealie-webhook-handler
          docker_username: DOCKER_USERNAME
          docker_password: DOCKER_TOKEN

  publish-playground:
    executor: go
    steps:
      - checkout
      - run:
          name: Create gh-pages root
          command: |
            mkdir -p gh-pages
            cp -R playground gh-pages/
      - github-utils/publish_github_pages:
          folder: gh-pages/
          git_commit_author_email: "no-reply@timo-reymann.de"
          git_commit_author_name: "CircleCI"

workflows:
  version: 2
  main:
    jobs:
      - unit-test
      - build:
          requires:
            - unit-test
      - semantic-release/with_existing_config:
          name: semantic-release
          requires:
            - build
          context:
            - semantic-release
          filters:
            branches:
              only:
                - main
      - publish-playground:
          filters:
            branches:
              only:
                - main

  release:
    jobs:
      - build:
          <<: *only_tags
      - publish-docker-image:
          <<: *only_tags
          requires:
            - build
      - attach-binaries-to-release:
          <<: *only_tags
          requires:
            - build
